<div class="container">
  <div class="row">
    <div class="md:col-12">
      <form [formGroup]='form' (ngSubmit)="submitVal()" class="formgroup-inline flex-1 border-2 border-solid border-purple-800 border-round focus:border-primary p-3">
        <div class="formgroup-inline field md:col-3">
          <label for="val1">Value1</label>
          <input id="val1" type="text" pInputText required class="form-control" formControlName="val1" (blur)="patcher(val1)" #val1>
          <!-- <input id="val1" type="text" pInputText required class="form-control" formControlName="val1" (blur)="patcher($event)"> -->
          <small *ngIf ="!form.get('val1').valid && form.get('val1').touched" class="form-text text-danger">
            <span *ngIf= "form.get('val1')?.errors?.['required']" >Value1 is required</span>
            <span *ngIf= "form.get('val1')?.errors?.['OverVal']" >Value should be less than 100</span>
          </small>
        </div>
        <div class="formgroup-inline field md:col-3">
          <label for="val2">Value2</label>
          <input id="val2" type="text" pInputText required class="form-control" formControlName="val2" (blur)="patcher(val2)" #val2>
          <small *ngIf ="!form.get('val2').valid && form.get('val2').touched" class="form-text text-danger">
            <span *ngIf= "form.get('val2')?.errors?.['required']" >Value2 is required</span>
            <span *ngIf= "form.get('val2')?.errors?.['OverVal']" >Value should be less than 100</span>
          </small>
        </div>
        <div class="formgroup-inline field md:col">
          <button pButton type="Submit" label="Submit" class="p-button-text-primary" [disabled]= "!form.valid"></button>
        </div>
      </form>
    </div>
    <div class="row my-4">
      <div class="md:col-6">
        <!-- <p-chart type="pie" [data]="dataArr" [options]="chartOptions"  [style]="{'width': '40%'}"></p-chart> -->
        <p-chart type="pie" [data]="dataArr" [options]="chartOptions"  [style]="{'width': '40%'}"></p-chart>
      </div>
    </div>
  </div>
</div>